.card--technology--container {
  position: relative;
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 14px;
  padding: 10px;
  font-family: Space Mono;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgb(0 0 0 / 50%);
}
.card--technology--container  figure {
    width: 100%;
    height: 100%;
}
.card--technology--container  figure > img {
  transition: all 500ms ease-out;
}
.card--technology-img  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card--technology--container figure:hover > img {
  transform: scale(1.3);
  transition: all 500ms ease-outm;
}
.card--technology--container figure:hover > .card--technology--cloak {
  opacity: 1;
  visibility: visible;
}
.card--technology--container
  figure:hover
  > .card--technology--cloak
  .card--technology--button-container {
  transition: 1s;
  transform: translateY(0px);
}
.card--technology--cloak {
  transition: all 500ms ease-outm;
}
.card--technology--cloak {
  top: 0px;
  left: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}

.card--technology--cloak-title{
  color: var(--color-white);
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-family: Space Mono;
  -webkit-text-stroke: 1px black;
}
