/*DarkMode*/
.darkmode--container {
  width: 150px;
  display: flex;
  justify-content: center;
}
.darkmode--container-button {
  background: transparent;
  display: inline-block;
 
}
.darkmode--container-button:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .darkmode--container {
    margin-left: 10px;
    justify-content: flex-start;
  }
}